<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment/>
    <entry key="path2">/somethingpath2</entry>
    <entry key="path1">/somethingpath1</entry>
    <entry key="output_path0">D:\</entry>
</properties>
